extends ../layouts/default

block content
	.container
		#index-banner.section.no-pad-bot: .container
			h1.header.center.orange-text= __("Welcome") 
			.row.center
				h5.header.col.s12.light=  __("Coinava is connecting Iranian bitcoin buyers and sellers")
			br
	.container: .section: .row
		.col.s12.m6: .icon-block.center
			h2.light-blue-text
				i.material-icons help
			h5= __("What is Bitcoin")
			p.light= __("index.whatIsBitcoin")
			a#download-button.btn-large.waves-effect.waves-light.orange(href='https://bitcoin.org/fa/')= __("More details")
		.col.s12.m6: .icon-block.center
			h2.light-blue-text
				i.material-icons ring_volume
			h5= __("Our goal")
			p.light= __("index.ourGoal")
			a#download-button.btn-large.waves-effect.waves-light.orange(href='/how-it-works')= __("Start here")
