mixin rates-table(rates)
    table.bordered.rates-table.centered
        thead
            tr
                th
                    img(src='/images/btc.svg', width='30')
                th= __("Sell")
                th= __("Buy")
        tbody
            tr
                td
                    img(src='/images/au-flag.svg', width='50')
                td= rates.sellAUD
                td= rates.buyAUD
        tr
            td
                img(src='/images/ir-flag.svg', width='50')
            td= rates.sellIRR
            td= rates.buyIRR