//-
	Join
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"
	
mixin form-join(args)
	.auth-box.modal-pane-join(class=args.modal && args.initial != 'join' ? 'hidden' : null)
		if args.modal
			.modal-header
				.modal-close &times;
				h4.modal-title= __("Join Coinava")
		div(class=args.modal ? 'modal-body' : null)
			//- p Or use your email, that's okay too:
			form(method='post', action='/join', autocomplete='off', novalidate).auth-form
				input(type='hidden', name='action', value='join')
				input(type='hidden', name='target', value=!args.modal ? form.target : page.path)
				if !args.modal
					if form.error
						.flash-messages
							.alert.alert-danger
								div!= form.error.message || form.error
								
								//- Field Errors
								if form.error.errors && !_.isEmpty(form.error.errors)
									ul
										each error, key in form.error.errors
											li!= error.msg
					
					- var checkFormError = function(key) { return form.error && form.error.errors && form.error.errors[key] ? 'has-error' : null }
				.form-groups
					.form-group(class=!args.modal ? checkFormError('firstname') : null)
						label(for='firstname').sr-only= __("First name")
						input(type='text', name='firstname', placeholder=__("First name"), value=!args.modal ? form.firstname : null).form-control.form-control--first
					.form-group(class=!args.modal ? checkFormError('lastname') : null)
						label(for='lastname').sr-only= __("Last name")
						input(type='text', name='lastname', placeholder=__("Last name"), value=!args.modal ? form.lastname : null).form-control
					.form-group(class=!args.modal ? checkFormError('phone') : null)
						label(for='phone').sr-only= __("Phone")
						input(type='text', name='phone', placeholder=__("Phone"), value=!args.modal ? form.phone : null).form-control
					.form-group(class=!args.modal ? checkFormError('email') : null)
						label(for='email').sr-only= __("Email")
						input(type='email', name='email', placeholder=__("Email"), value=!args.modal ? form.email : null).form-control
					.form-group(class=!args.modal ? checkFormError('password') : null)
						label(for='password').sr-only= __("Password")
						input(type='password', name='password', placeholder=__("Password"), value=!args.modal ? form.password : null).form-control
				button(type='submit').btn.blue= __("Join")
		
			p.text-center.text-muted.mt-3
				!= __("Already have an account? ")
				a(href=args.modal ? js : '/signin', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'signin' : null)= __("Sign In")