//-
	Password Form
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"
	
mixin form-password(args)
	.auth-box.modal-pane-password(class=args.modal && args.initial != 'password' ? 'hidden' : null)
		if args.modal
			.modal-header
				.modal-close &times;
				h4.modal-title= __("Forgot password?")
		div(class=args.modal ? 'modal-body' : null)
			form.form-password(method='post', action='/forgot-password', role='password-retrieval', novalidate).auth-form
				input(type='hidden', name='action', value='forgot-password')
				.form-groups
					.form-group
						label(for='email').sr-only Email
						input(type='email', name='email', id='email', placeholder='Email', value=locals.form ? locals.form.email : null)
				button(type='submit', data-loading-text='Sending...').btn.blue= __("Send reset link")
			p.center.text-muted
				!= __("I remember, ")
				a(
					href=args.modal ? js : '/signin'
					rel=args.modal ? 'modal-pane' : null
					data-modal-pane=args.modal ? 'signin' : null)= __("Sign In")