//-
	Sign in
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"
	
mixin form-signin(args)
	.auth-box.modal-pane-signin(class=args.modal && args.initial != 'signin' ? 'hidden' : null)
		if args.modal
			.modal-header
				.modal-close &times;
				h4.modal-title= __("Sign In")
		div(class=args.modal ? 'modal-content' : null)
			
			form(method='post', action='/signin', role='signin', novalidate).auth-form
				input(type='hidden', name='action', value='signin')
				input(type='hidden', name='target', value=!args.modal ? form.target : page.path)
				.form-groups
					.form-group
						label(for='signin-email').sr-only= __("Email")
						input(type='email', name='email', placeholder=__('Email'), id='signin-email', value=locals.form ? locals.form.email : null).form-control.form-control--first
					.form-group
						label(for='signin-password').sr-only= __("Password")
						input(type='password', name='password', placeholder=__('Password'), id='signin-password', value='').form-control.form-control--last
				button(type='submit').btn.blue= __("Go")
			
			.row.text-muted.mt-3
				.col.s8= __("Don't have an account?")
					= " "
					a(href=args.modal ? js : '/join', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'join' : null)= __("Join Coinava")
				.col-s4.right
					a(href=args.modal ? js : '/forgot-password', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'password' : null)= __("Forgot password?")